@page "/"

<h1>Hello, Dallas.NET</h1>

Fritz is talking about cheesesteaks again... when are you going to talk about REAL steaks.

Hello Blazor :)

<SurveyPrompt Title="How is Blazor working for you?" />
